In [100]:
import pandas as pd
import numpy as np

In [101]:
l1_df_2425 = pd.read_csv("/Users/lewisclark/Desktop/PROJECTS/final_project/sheets_data/L1_DATA/ligue_1_data - 24_25.csv")

In [102]:
l1_df_2425 = pd.read_csv("/Users/lewisclark/Desktop/PROJECTS/final_project/sheets_data/L1_DATA/ligue_1_data - 24_25.csv", header=1)

l1_df_2425.reset_index(drop=True, inplace=True)

l1_df_2425.head(3)

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,Angers,30,27.5,41.2,34,374,"3,060",34,31,17,...,0.91,0.50,1.41,0.76,1.26,1.06,0.69,1.75,0.92,1.61
1,Auxerre,29,25.9,42.5,34,374,"3,060",34,47,35,...,1.38,1.03,2.41,1.26,2.29,1.21,0.94,2.15,1.10,2.04
2,Brest,30,28.2,48.4,34,374,"3,060",34,52,32,...,1.53,0.94,2.47,1.32,2.26,1.33,0.87,2.20,1.13,1.99

In [103]:
l1_df_2324 = pd.read_csv("/Users/lewisclark/Desktop/PROJECTS/final_project/sheets_data/L1_DATA/ligue_1_data - 23_24.csv", header=1)

l1_df_2324.reset_index(drop=True, inplace=True)

l1_df_2324.head(3)

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,Brest,25,27.0,53.6,34,374,"3,060",34,51,33,...,1.50,0.97,2.47,1.38,2.35,1.42,1.01,2.43,1.33,2.34
1,Clermont Foot,31,26.8,48.9,34,374,"3,060",34,26,18,...,0.76,0.53,1.29,0.59,1.12,1.06,0.68,1.74,0.88,1.55
2,Le Havre,27,26.2,44.7,34,374,"3,060",34,33,23,...,0.97,0.68,1.65,0.79,1.47,1.10,0.74,1.84,0.94,1.68

In [104]:
l1_df_2223 = pd.read_csv("/Users/lewisclark/Desktop/PROJECTS/final_project/sheets_data/L1_DATA/ligue_1_data - 22_23.csv", header=1)

l1_df_2223.reset_index(drop=True, inplace=True)

l1_df_2223.head(3)

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,Ajaccio,36,29.1,43.2,38,418,"3,420",38,22,12,...,0.58,0.32,0.89,0.42,0.74,0.95,0.60,1.55,0.78,1.38
1,Angers,33,25.7,46.9,38,418,"3,420",38,31,18,...,0.82,0.47,1.29,0.71,1.18,1.08,0.74,1.81,0.99,1.73
2,Auxerre,33,27.3,43.3,38,418,"3,420",38,32,17,...,0.84,0.45,1.29,0.66,1.11,1.13,0.72,1.84,0.94,1.66

In [105]:
l1_df_2122 = pd.read_csv("/Users/lewisclark/Desktop/PROJECTS/final_project/sheets_data/L1_DATA/ligue_1_data - 21_22.csv", header=1)

l1_df_2122.reset_index(drop=True, inplace=True)

l1_df_2122.head(3)

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,Angers,30,27.4,48.4,38,418,"3,420",38,41,25,...,1.08,0.66,1.74,0.84,1.50,1.22,0.75,1.97,1.04,1.79
1,Bordeaux,39,25.7,47.4,38,418,"3,420",38,50,39,...,1.32,1.03,2.34,1.26,2.29,1.18,0.89,2.07,1.10,2.00
2,Brest,25,25.4,43.9,38,418,"3,420",38,48,32,...,1.26,0.84,2.11,1.08,1.92,1.14,0.76,1.90,0.97,1.73

In [106]:
l1_df_2021 = pd.read_csv("/Users/lewisclark/Desktop/PROJECTS/final_project/sheets_data/L1_DATA/ligue_1_data - 20_21.csv", header=1)

l1_df_2021.reset_index(drop=True, inplace=True)

l1_df_2021.head(3)

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,Angers,31,27.9,46.4,38,418,"3,420",38,40,23,...,1.05,0.61,1.66,0.92,1.53,1.10,0.70,1.79,0.97,1.67
1,Bordeaux,28,27.6,49.8,38,418,"3,420",38,41,32,...,1.08,0.84,1.92,0.97,1.82,1.14,0.83,1.97,1.06,1.89
2,Brest,26,24.9,49.3,38,418,"3,420",38,48,31,...,1.26,0.82,2.08,1.18,2.00,1.32,0.95,2.26,1.23,2.18

In [107]:
dfs = [l1_df_2425, l1_df_2324, l1_df_2223, l1_df_2122, l1_df_2021]

keep_columns = [
    'Squad', 'Poss', '90s', 'Gls.1', 'Ast.1', 'G+A.1', 'G-PK.1',
    'xG.1', 'xAG.1', 'xG+xAG', 'npxG+xAG.1', 'PrgC', 'PrgP', 'CrdY', 'CrdR']

l1_df_2425, l1_df_2324, l1_df_2223, l1_df_2122, l1_df_2021 = [df[keep_columns] for df in dfs]

l1_df_2425.head()

,Squad,Poss,90s,Gls.1,Ast.1,G+A.1,G-PK.1,xG.1,xAG.1,xG+xAG,npxG+xAG.1,PrgC,PrgP,CrdY,CrdR
0,Angers,41.2,34,0.91,0.50,1.41,0.76,1.06,0.69,1.75,1.61,502,953,49,2
1,Auxerre,42.5,34,1.38,1.03,2.41,1.26,1.21,0.94,2.15,2.04,484,1084,68,4
2,Brest,48.4,34,1.53,0.94,2.47,1.32,1.33,0.87,2.20,1.99,470,1096,69,3
3,Le Havre,43.1,34,1.09,0.62,1.71,0.82,1.22,0.72,1.94,1.70,538,1051,56,4
4,Lens,54.1,34,1.18,0.76,1.94,1.03,1.52,1.06,2.59,2.48,570,1451,86,8

In [108]:
l1_df_2425['Season'] = '2024-25'
l1_df_2324['Season'] = '2023-24'
l1_df_2223['Season'] = '2022-23'
l1_df_2122['Season'] = '2021-22'
l1_df_2021['Season'] = '2020-21'

master_l1_df_stats = pd.concat([l1_df_2425, l1_df_2324, l1_df_2223, l1_df_2122, l1_df_2021], ignore_index=True)

/var/folders/sp/zmqgkgsj1992h0k71dlr78_80000gn/T/ipykernel_11228/3664824697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  l1_df_2425['Season'] = '2024-25'
/var/folders/sp/zmqgkgsj1992h0k71dlr78_80000gn/T/ipykernel_11228/3664824697.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  l1_df_2324['Season'] = '2023-24'
/var/folders/sp/zmqgkgsj1992h0k71dlr78_80000gn/T/ipykernel_11228/3664824697.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  l1_df_2223['Season'] = '2022-23'
/var/folders/sp/zmqgkgsj1992h0k71dlr78_80000gn/T/ipykernel_11228/3664824697.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  l1_df_2122['Season'] = '2021-22'
/var/folders/sp/zmqgkgsj1992h0k71dlr78_80000gn/T/ipykernel_11228/3664824697.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  l1_df_2021['Season'] = '2020-21'

In [109]:
master_l1_df_stats.shape

(96, 16)

In [110]:
master_l1_df_stats.head()

,Squad,Poss,90s,Gls.1,Ast.1,G+A.1,G-PK.1,xG.1,xAG.1,xG+xAG,npxG+xAG.1,PrgC,PrgP,CrdY,CrdR,Season
0,Angers,41.2,34,0.91,0.50,1.41,0.76,1.06,0.69,1.75,1.61,502,953,49,2,2024-25
1,Auxerre,42.5,34,1.38,1.03,2.41,1.26,1.21,0.94,2.15,2.04,484,1084,68,4,2024-25
2,Brest,48.4,34,1.53,0.94,2.47,1.32,1.33,0.87,2.20,1.99,470,1096,69,3,2024-25
3,Le Havre,43.1,34,1.09,0.62,1.71,0.82,1.22,0.72,1.94,1.70,538,1051,56,4,2024-25
4,Lens,54.1,34,1.18,0.76,1.94,1.03,1.52,1.06,2.59,2.48,570,1451,86,8,2024-25

In [111]:
master_l1_df_stats.to_csv("master_l1_df_stats.csv", index=False)

In [112]:
master_l1_df_stats["League"] = "Ligue 1"

In [113]:
master_l1_df_stats["League_ID"] = 5

In [114]:
master_l1_df_stats.head()

,Squad,Poss,90s,Gls.1,Ast.1,G+A.1,G-PK.1,xG.1,xAG.1,xG+xAG,npxG+xAG.1,PrgC,PrgP,CrdY,CrdR,Season,League,League_ID
0,Angers,41.2,34,0.91,0.50,1.41,0.76,1.06,0.69,1.75,1.61,502,953,49,2,2024-25,Ligue 1,5
1,Auxerre,42.5,34,1.38,1.03,2.41,1.26,1.21,0.94,2.15,2.04,484,1084,68,4,2024-25,Ligue 1,5
2,Brest,48.4,34,1.53,0.94,2.47,1.32,1.33,0.87,2.20,1.99,470,1096,69,3,2024-25,Ligue 1,5
3,Le Havre,43.1,34,1.09,0.62,1.71,0.82,1.22,0.72,1.94,1.70,538,1051,56,4,2024-25,Ligue 1,5
4,Lens,54.1,34,1.18,0.76,1.94,1.03,1.52,1.06,2.59,2.48,570,1451,86,8,2024-25,Ligue 1,5

In [123]:
master_l1_df_stats.to_csv("master_l1_df_stats_league_.csv", index=False)

In [116]:
print(master_l1_df_stats.isna().sum())

Squad         0
Poss          0
90s           0
Gls.1         0
Ast.1         0
G+A.1         0
G-PK.1        0
xG.1          0
xAG.1         0
xG+xAG        0
npxG+xAG.1    0
PrgC          0
PrgP          0
CrdY          0
CrdR          0
Season        0
League        0
League_ID     0
dtype: int64

In [117]:
print(master_l1_df_stats.isna().any().any())

False

In [118]:
print(master_l1_df_stats.duplicated().sum())

duplicates = master_l1_df_stats[master_l1_df_stats.duplicated()]
print(duplicates)

0
Empty DataFrame
Columns: [Squad, Poss, 90s, Gls.1, Ast.1, G+A.1, G-PK.1, xG.1, xAG.1, xG+xAG, npxG+xAG.1, PrgC, PrgP, CrdY, CrdR, Season, League, League_ID]
Index: []

In [119]:
print(master_l1_df_stats.duplicated(subset=["Squad", "Season"]).sum())

0

In [120]:
master_l1_df_stats.head()

,Squad,Poss,90s,Gls.1,Ast.1,G+A.1,G-PK.1,xG.1,xAG.1,xG+xAG,npxG+xAG.1,PrgC,PrgP,CrdY,CrdR,Season,League,League_ID
0,Angers,41.2,34,0.91,0.50,1.41,0.76,1.06,0.69,1.75,1.61,502,953,49,2,2024-25,Ligue 1,5
1,Auxerre,42.5,34,1.38,1.03,2.41,1.26,1.21,0.94,2.15,2.04,484,1084,68,4,2024-25,Ligue 1,5
2,Brest,48.4,34,1.53,0.94,2.47,1.32,1.33,0.87,2.20,1.99,470,1096,69,3,2024-25,Ligue 1,5
3,Le Havre,43.1,34,1.09,0.62,1.71,0.82,1.22,0.72,1.94,1.70,538,1051,56,4,2024-25,Ligue 1,5
4,Lens,54.1,34,1.18,0.76,1.94,1.03,1.52,1.06,2.59,2.48,570,1451,86,8,2024-25,Ligue 1,5

In [121]:
master_l1_df_stats.rename(columns={
    'Gls.1': 'Gls',
    'Ast.1': 'Ast',
    'G+A.1': 'G_plus_A',
    'G-PK.1': 'G_minus_PK',
    'xG.1': 'xG',
    'xAG.1': 'xAG',
    'xG+xAG': 'xG_plus_xAG',
    'npxG+xAG.1': 'npxG_plus_xAG'
}, inplace=True)

In [122]:
master_l1_df_stats

,Squad,Poss,90s,Gls,Ast,G_plus_A,G_minus_PK,xG,xAG,xG_plus_xAG,npxG_plus_xAG,PrgC,PrgP,CrdY,CrdR,Season,League,League_ID
0,Angers,41.2,34,0.91,0.50,1.41,0.76,1.06,0.69,1.75,1.61,502,953,49,2,2024-25,Ligue 1,5
1,Auxerre,42.5,34,1.38,1.03,2.41,1.26,1.21,0.94,2.15,2.04,484,1084,68,4,2024-25,Ligue 1,5
2,Brest,48.4,34,1.53,0.94,2.47,1.32,1.33,0.87,2.20,1.99,470,1096,69,3,2024-25,Ligue 1,5
3,Le Havre,43.1,34,1.09,0.62,1.71,0.82,1.22,0.72,1.94,1.70,538,1051,56,4,2024-25,Ligue 1,5
4,Lens,54.1,34,1.18,0.76,1.94,1.03,1.52,1.06,2.59,2.48,570,1451,86,8,2024-25,Ligue 1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,Paris S-G,63.1,38,2.21,1.37,3.58,1.89,2.11,1.46,3.57,3.31,909,2089,79,7,2020-21,Ligue 1,5
92,Reims,44.9,38,1.03,0.61,1.63,0.89,0.86,0.57,1.43,1.33,698,1246,77,8,2020-21,Ligue 1,5
93,Rennes,59.1,38,1.32,1.03,2.34,1.24,1.26,0.93,2.19,2.12,741,1883,79,5,2020-21,Ligue 1,5
94,Saint-Étienne,48.3,38,1.05,0.74,1.79,0.89,1.28,0.83,2.11,1.93,615,1229,76,2,2020-21,Ligue 1,5
95,Strasbourg,45.7,38,1.29,0.68,1.97,1.03,1.39,0.84,2.23,1.99,538,1301,58,3,2020-21,Ligue 1,5

In [126]:
master_l1_df_stats.to_csv("final_master_l1.csv", index=False)